/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
:root {
  /*----------------------------
  ===========COLORS=============
  ----------------------------*/
  --color-pink: hsl(322, 100%, 66%);
  --color-very-pale-cyan: hsl(193, 100%, 96%);
  --color-very-dark-cyan: hsl(192, 100%, 9%);
  --color-grayish-blue: hsl(208, 11%, 55%);
  --color-primary: var(--color-pink);
  /*----------------------------
  ===========FONTS=============
  ----------------------------*/
  --font-primary: 'Open Sans', sans-serif;
  --font-display: 'Poppins', sans-serif;
  --default-font-size: 1.8rem; }

/*----------------------------
===========COLORS=============
----------------------------*/
/*----------------------------
===========GRID=============
----------------------------*/
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-primary);
  font-size: var(--default-font-size);
  font-weight: 400;
  line-height: 1.6; }

.heading-primary {
  font-family: var(--fant-display);
  font-size: 4.5rem;
  line-height: 1.7;
  font-weight: 600;
  color: var(--color-very-dark-cyan);
  margin-bottom: 3rem; }

.info-primary {
  font-size: 2rem;
  color: var(--color-very-dark-cyan);
  line-height: 1.7;
  margin-bottom: 2.5rem; }

.container {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  box-shadow: 0px 0px 25px 1.5px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: var(--color-very-dark-cyan); }
  .btn--white::after {
    background-color: #fff; }

.btn--pink {
  padding: 2rem 14rem;
  background-color: var(--color-primary);
  color: #fff; }
  .btn--pink::after {
    background-color: var(--color-primary); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.features-box {
  width: 90%;
  margin: 6rem auto 2rem;
  background: #fff;
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px; }
  .features-box__text {
    margin: 11rem auto; }
  .features-box__heading {
    margin-left: 8rem; }
  .features-box__detail {
    margin-left: 8rem; }
  .features-box__img img {
    margin: 3rem 10rem;
    width: 60%;
    text-align: right; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 100vh;
  background-image: url(../../images/bg-hero-desktop.svg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 3.5rem;
    left: 6rem; }
  .header__link {
    position: absolute;
    top: 3.5rem;
    right: 6rem; }
  .header__text-box {
    position: absolute;
    top: 35%;
    left: 6rem;
    text-align: left; }
  .header__img-box {
    position: absolute;
    top: 25%;
    right: 6rem;
    text-align: right; }
    .header__img-box img {
      width: 70%; }
