:root {
  /*----------------------------
  ===========COLORS=============
  ----------------------------*/
  --color-pink: hsl(322, 100%, 66%);
  // Netural
  --color-very-pale-cyan: hsl(193, 100%, 96%);
  --color-very-dark-cyan: hsl(192, 100%, 9%);
  --color-grayish-blue: hsl(208, 11%, 55%);
  // Primary
  --color-primary: var(--color-pink);
  /*----------------------------
  ===========FONTS=============
  ----------------------------*/
  --font-primary: 'Open Sans', sans-serif;
  --font-display: 'Poppins', sans-serif;
}
