.footer {
  background-color: var(--color-very-dark-cyan);
  padding: 10rem 0;
  &__logo {
    margin-bottom: 3rem;
  }
  &__icon {
    margin: 2rem;
  }
  &__col-1 {
    ul {
      li {
        color: $color-white;
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
      }
    }
  }
  &__col-2 {

  }
  &__col-3 {

  }
  &__col-4 {

  }
}
