.header {
  height: 100vh;
  background-image: url(../../images/bg-hero-desktop.svg);
  background-size: cover;
  background-position: center;
  position: relative;
  &__logo-box {

  }
  &__link {

  }
  &__text-box {

  }
  &__img-box {
    
  }
}
