html {
  font-size: 62.5%; // 1rem = 10px, 10px/16px 62.5%;
}
body {
  font-family: var(--font-primary);
  font-size: var(--default-font-size);
  font-weight: 400;
  line-height: 1.6;
}
.heading-primary {
  font-family: var(--fant-display);
  font-size: 4.2rem;
  line-height: 1.6;
  font-weight: 600;
  color: var(--color-very-dark-cyan);
  margin-bottom: 3rem;
}

.info-primary {
  font-size: 2rem;
  color: var(--color-very-dark-cyan);
  line-height: 1.7;
  margin-bottom: 2.5rem;
}
